<!--
Team Elephant (Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder)
SoftDev
P0 - Da Art of Storytellin' (Pt. 2)
2021-1-11
-->
<!DOCTYPE html>
<html>
  <head>
    <title> Homepage </title>
  </head>
  <body>

    <h3>    Welcome {{ user }} !    </h3>
    <h4> {{message}}  </h4>

    {% if contribution_list| length > 0 %}
		<h5> Stories You've Contributed To: </h5>
		{% for title in contribution_list %}
			<form action = "/story_view" method = "post">
				<input type = "hidden" value = "1" name = "editor">
				<input type = "submit" value = "{{title}}" name = "title">
			</form>
		{% endfor %}
    {% endif %}

    <h5> Create A New Story: </h5>
    <form action = "/create_story">
      <input type = "submit" value = "Create Story">
    </form>

    <h5> Edit an Existing Story: </h5>
    <form action = "/story_edit">
      <input type = "submit" value = "Edit Stories">
    </form>

    <h5> Logout: </h5>
    <form action = "/logout">
      <input type = "submit" value = "Logout">
    </form>
