<!--
Team Elephant (Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder)
SoftDev
K15 -- Sessions Greetings
2020-12-11
-->
<!DOCTYPE html>
<html>
  <head>
    <title> LOGIN PAGE </title>
  </head>
  <body>

  <h1> Titles of Stories to Edit </h1>

  {% for titles in %}
    <form action="/auth" method = "post">
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
      <input type="submit" name="sub1">
    </form>
     <br>

  <h2>
    Don't have an account?
    <form action = "/register">
      <input type = "submit" value = "Register">
    </form>
  </h2>
  </body>

</html>
