<!--
Team Elephant (Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder)
SoftDev
K15 -- Sessions Greetings
2020-12-11
-->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/layout.css">
    <title> LOGIN PAGE </title>
  </head>

  <body>

    <h1> Welcome to Team Elephant's </h1>
    <h1> Story Creation Site! </h1>
    <h2> Enter your username & password below to proceed. </h2>
    <h3> {{error_type}} </h3>

    <form action="/auth" method = "post">
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
      <input type="submit" name="sub1">
    </form>
     <br>

  <h2>
    Don't have an account?
    <form action = "/register">
      <input type = "submit" value = "Register">
    </form>
  </h2>
  </body>

</html>
