<!--
Team Elephant (Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder)
SoftDev
K15 -- Sessions Greetings
2020-12-11
-->
<!DOCTYPE html>
<html>

  <head>
    <title> Register Page </title>
  </head>

  <body>


  <h1>
  Register a Username & Password
  </h1>
    <form action="/register_auth">
      <input type="text" placeholder="Username" name="new_username">
      <input type="password" placeholder="Password" name="new_password_1">
      <input type = "password" placeholder = "Confirm Passord" name = "new_password_2">
      <input type="submit" name="sub1">
    </form>
   <br>


  </body>

</html>
