<!--
Team Elephant (Jeffrey Huang, Matthew Hui, Winnie Huang, Ethan Machleder)
SoftDev
P0 - Da Art of Storytellin' (Pt. 2)
2021-1-11
-->
<!DOCTYPE html>
<html>
  <head>
    <title> Creating Story Page </title>
  </head>
  <body>


      {% if titleExists == 0 %}
      <form action = "/story_check" method = "post">
      <h1>    Create a Title:    </h1>
      <input type = "text" placeholder = "Title" name = "temp-title">

      <h2>    Insert Your Story Below:    </h2>
        <span> <h5> <input type = "text" placeholder = "Story Text" name = "story"> </h5> </span>
        <input type = "submit" value = "Create Story">
      </form>
      {% elif titleExists == 1 %}
      <form action = "/story_check" method = "post">
      <h3> Title Already Exists, please enter a new one: </h3>
      <input type = "text" placeholder = "Title" name = "temp-title">

      <h4> Story: </h4>
      <span> <h5> <input type = "text" value = "{{story}}" name = "story"> </h5> </span>
      <input type = "submit" value = "Create Story">
      </form>
      {% endif %}

      <form action = "/homepage">
      <input type = "submit" value = "Return Home">
      </form>

  </body>
